*{
    margin: 0;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
   background-color:grey;
}

header{
    background-color: #f2e6da;
    font-family: 'Arial', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
    width: 100%;
}
@media (max-width: 767px) {
.clase {
    font-size: 20px;
    color: #b59a61;
}
}
@media (min-width: 768px) {
    .clase {
        font-size: 40px;
        color: #ebddbd;
    }
    }

nav ul li {
    display: inline-block;
}

main{
    background-color: antiquewhite;
    color: rgb(141, 125, 56);
    font-size: 12px;
}
.seccion-1{
    img {width: 100%;}
}

footer{
    background-color:rgb(76, 67, 67);
    width: 80%;
}

/* MENU*/
#check {
    display: none;
}

.checkbtn {
    font-size: 25px;
    color: rgb(141, 125, 56);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

@media (max-width: 760px) {
    header {
        background-color: #ebddbd;
    }
    
    .fuente-acento {
        text-align: c;
    }

}
.button {
    color: #fff;
    background-color: #5995da;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid darkgray;
    border-radius: 5px;
    cursor: pointer;
}

.contacto {
    font-style: italic;
    background-color: yellow;
}

#seccion-principal .seccion-1{
    background-color: #5995da;
    width: 100%;
    padding: 20px;
}

#seccion-secundaria .seccion-1 {
    background-color: #3db42f;
}
ul.opciones li a {
    background-color: aquamarine;

}
.fuente-clara {color: #eeeeee;}
.fuente-oscura {color: #22211f;}
.fuente-acento {color: #b59a61;}

